.form-card {
    margin: 20px;
    padding: 20px;
    background-color: #1670a5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-table {
    background-color: #5ebb7c;
    padding: 0.5rem;
    border-radius: 4px;
}

th {
    color: #1670a5;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

td {
    color: #1670a5;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

.action-cell {
    justify-content: center;
    gap: 8px;
}

.action-button {
    background-color: #b5d240;
    margin: 10px;
    border: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
    background-color: #b5d240;
}

.action-icon {
    color: #1670a5;
    font-size: 24px;
}


mat-paginator {
    background-color: #5ebb7c;
    color: #1670a5;

}
