body {
    background-color: #1670a5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

html {
    height: 100%; 
    background-color: #1670a5;
    width: 100%; 
}
